.photos {
    display: flex;
    flex-direction: column;
  
}

.list_image {
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 0px;

}
.list {
    display: flex;
    position: absolute;
    z-index: -2;
    top:100px;
    margin: 5px;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: center;
}
.loader {
    position: absolute;
    top:200px;
    left:50%;
    height: 300px;
}
