.modal {
    position: fixed;
    max-height: 300px;
    top:20%;
    left:30%;
   
}

@media (max-width: 900px) {
    .modal {
    max-width:500px;
    }
  }

@media (max-width: 750px) {
    .modal {
    max-width:400px;
    }
  }


@media (max-width: 500px) {
    .modal {
    max-width:250px;
    }
  }

@media (max-width: 400px) {
  .modal {
  max-width:200px;
  }
}